<div class="wrapper fadeInDown m-0">
    <div id="formContent" *ngIf="showLogin">
      <div class="fadeIn first">
        <div><h2>Авторизация</h2></div>
      </div>
        <input type='text' [(ngModel)]="login" class="fadeIn second" id='email' placeholder='Почта'>

        <input type='password' [(ngModel)]="password" class="fadeIn third" id='password' placeholder='Пароль'>
        <input type="button" (click)="onSubmit(login, password)" id='btn-login' class="fadeIn fourth" value="Войти">
      <div id="formFooter">
        <!--<a class="underlineHover" href="#">Забыли пароль?</a><br>-->
        <button (click)="switch()">Регистрация</button>
      </div>
    </div>

    <div id="formContent" *ngIf="!showLogin">
        <div class="fadeIn first">
          <div><h2>Регистрация</h2></div>
        </div>
          <input type='text' [(ngModel)]="login" class="fadeIn second" id='email' placeholder='Имя'>
          <input type='password' [(ngModel)]="password" class="fadeIn third" id='password' placeholder='Пароль'>
          <input type='tel' [(ngModel)]="phone" class="fadeIn fourth" id='phone' placeholder='Телефон'>
          <input type="button" (click)="register(login, password, phone)" id='btn-login' class="fadeIn fourth" value="Войти">
        <div id="formFooter">
          <!--<a class="underlineHover" href="#">Забыли пароль?</a>-->
          <button class="btn" (click)="switch()">Авторизация</button>
        </div>
      </div>
  </div>
  